name: Scheduled run

on: 

  schedule:
    - cron: '30 15 * * 1-5'
    - cron: '30 05 * * 6,0'

  workflow_dispatch:

  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  
jobs: 
 
  build:
    
    runs-on: ubuntu-latest

    steps:

      - name: Pull Code from Remote Repo
        uses: actions/checkout@v4
        
      - name: Install Node.js
        uses: actions/setup-node@v4
      
      - name: Install Newman and Htmlextra reporter
        shell: bash
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Postman collection with environment and generate reports
        shell: bash 
        env:
          API_KEY_ENV: ${{ secrets.API_KEY }}
          API_TOKEN_ENV: ${{ secrets.API_TOKEN }}
          BASE_URL_ENV: ${{ secrets.BASE_URL }}
        run: "newman run Trello_testing_Mariia.postman_collection.json -e Trello_testing_Maria_Prod.postman_environment.json --env-var api_key=$API_KEY_ENV --env-var api_token=$API_TOKEN_ENV --env-var base_url=$BASE_URL_ENV -r cli,htmlextra --reporter-htmlextra-export report_html.html"
          
      - name: Check HTML report exists
        shell: bash
        run: ls 
  

       



